body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    font-stretch: expanded;
    font-family: "Times New Roman", Georgia, Serif;
    background: url('https://all-t-shirts.ru/goods_images/ru132294II00053850d7ea2ad54b40941a5421dc48d3f.jpg');


}
.huhih {
    background-color: #a98e8e91;
	border-radius: 15px;
    margin: 5%;
    margin-left: 1%;
    padding: 2.5%;
}
a { 
    color:#ffffff;
    text-decoration:none;
    font-weight: 900;
	text-decoration: underline;

}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    font-style: initial;
	font-weight:bold;
	width: 125%
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
	
	
}

#content { 
    float:left;
    width:70%;
    padding:0 0 0 30px;
	color: #440517
}

#sidebar { 
    float:right;
    width:25%;
    padding:10px;
    background:#a98e8e91; 
    height:100%;
	border-radius: 5px;
	color: #ffffff;
	text-decoration: underline;
}

p.date { 
    color:#ffffff;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
	background-color: #a98e8e91;
	border-radius: 5px;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#352783;
    margin-bottom:4px;
	background:#cdb5b5;	
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#e3dcdc;
    border:0;
    padding:6px 10px;
    font-size:12px;
	border-radius: 15px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
	background-color: #a98e8e91;
	border-radius: 15px;
}
.comment:nth-child(even) {
    background:#efefef;
	background-color: #a98e8e91;
	border-radius: 15px;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
	background-color: #ffffff;
	border-radius: 5px;
}