body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    font-stretch: expanded;
    font-family: "Times New Roman", Georgia, Serif;
    background: url('https://all-t-shirts.ru/goods_images/ru132294II00053850d7ea2ad54b40941a5421dc48d3f.jpg');


}
.huhih {
    background-color: #a98e8e91;
    margin: 5%;
    margin-left: 1%;
    padding: 2.5%;
}
a { 
    color:#ffffff;
    text-decoration:none;
    font-weight: 900;

}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    font-style: initial;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:70%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:25%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#686;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}